%table.table-inside
  %tr
    %td
      %p Приветствуем Вас, <b>#{@user.login}</b>!

      %p Вам предоставлен полный доступ к организации <b>#{link_to @organization.title, @organization, target: '_blank', rel: 'nofollow'}</b>.
      %p Организация также доступна на странице вашего профиля #{link_to 'вашего профиля', @user, target: '_blank', rel: 'nofollow'}.
      %p Вы можете в любое время дополнить/обновить информацию о Вашей организации, поддерживая её в актуальном состоянии.
      %p Спасибо!
