- set_meta_tags title: t('seo.pages.den_goroda_2018'),
  description: t('seo.pages.den_goroda_2018'),
  keywords: t('seo.pages.den_goroda_2018'),
  index: true

.tr-section.den-goroda
  .row
    .col-xs-12.event-block-title
      .text-center
        %h1
          = t('seo.pages.den_goroda_2018')
        %p
          = t('seo.pages.den_goroda_2018_text')

    .col-xs-12.col-md-6

      .row.event-block-primary
        .col-xs-12.lead
          %strong 22 сентября

      .row.event-block
        .col-xs-3.col-md-2
        .col-xs-9.col-md-10
          .event-data
            %p День открытых дверей во всех музеях Городского округа Подольск

      .row.event-block
        .col-xs-3.col-md-2.lead 10:00
        .col-xs-9.col-md-10
          .event-data
            %p Конно-спортивный клуб "Фаворит" (д. Бородино, Варшавское шоссе, 1)
            %p Кубок Главы Городского округа Подольск по конкурсу и выездке

      .row.event-block
        .col-xs-3.col-md-2.lead
          11:00
        .col-xs-9.col-md-10
          .event-data
            %p Акция "Наш лес. Посади своё дерево"
            %p О местах проведения узнай на сайте posadisvoederevo.ru
            %p Центральная площадка - сквер им. Б.А. Папирова (ул. Машиностроителей, 22б)
      .row.event-block
        .col-xs-3.col-md-2.lead
          11:30
        .col-xs-9.col-md-10
          .event-data
            %p Село Покров
            %p Кубок Главы Городского округа по мотокроссу
      .row.event-block
        .col-xs-3.col-md-2.lead
          %p 12:00
          %p 16:00
        .col-xs-9.col-md-10
          .event-data
            %p Праздничные народные гуляния в микрорайонах городского округа
            %p
              %ul
                %li - Парк "Ёлочки" (ул. Сосновая)
                %li - Сквер 200-летия Подольска (ул. Маштакова)
                %li - КДЦ "Южный" (ул. Молодежная, 4)
                %li - Дом культуры ЗИО (ул. Мира, 4)
                %li - Дом культуры "Плещеево" (ул. Плещеевская, 38)
                %li - Дом культуры имени К. Маркса (ул. Б. Зеленовская, 50)
                %li - Дворец творчества молодежи (ул. П. Морозова, 69)
                %li - Дворец молодежи (Октябрьский проспект, 11)
                %li - МЦ "Максимум" (п. Кузнечики, Парковый проезд, 8)
      .row.event-block
        .col-xs-3.col-md-2.lead
          12:00
        .col-xs-9.col-md-10
          .event-data
            %p Стадион "Труд" (ул. К. Готвальда, 4)
            %p
              %ul
                %li Авто-шоу "Ретромобиль" (Вход с западной трибуны)
                %li Кубок ГТО среди спортивных федераций Московской области (Вход с восточной трибуны)
      .row.event-block
        .col-xs-3.col-md-2.lead
          %p 12:00
          %p 16:00
        .col-xs-9.col-md-10
          .event-data
            %p День города в парках Подольска
            %p
              %ul
                %li - Парк культуры и отдыха им. В. Талалихина (ул. Рабочая, 5б)
                %li - Детский парк культуры и отдыха (мкр. Климовск, улица Заводская, 6а)
                %li - Парк культуры и отдыха "Дубрава" (мкр. Климовск, улица Победы, 3)
      .row.event-block
        .col-xs-3.col-md-2.lead
          %p 15:00
          %p 21:00
        .col-xs-9.col-md-10
          .event-data
            %p Парк культуры и отдыха им. В. Талалихина (ул. Рабочая, 5б) Зеленый театр.
            %p Рок-концерт "Rock is life"

      .row.event-block
        .col-xs-3.col-md-2.lead
          %p 18:00
        .col-xs-9.col-md-10
          .event-data
            %p КСК "Ледовый дворец "Витязь" (ул. Кирова, 63а)
            %p Праздничный концерт BLACK STAR в Подольске (Вход по пригласительным билетам)



    .col-xs-12.col-md-6
      .row.event-block-primary
        .col-xs-12.lead
          %strong 23 сентября

      .row.event-block
        .col-xs-3.col-md-2
        .col-xs-9.col-md-10
          .event-data
            %p День открытых дверей во всех музеях Городского округа Подольск

      .row.event-block
        .col-xs-3.col-md-2.lead
          10:00
        .col-xs-9.col-md-10
          .event-data
            %p Конно-спортивный клуб "Фаворит" (д. Бородино, Варшавское шоссе, 1)
            %p Кубок Главы Городского округа Подольск по конкурсу и выездке

      .row.event-block
        .col-xs-3.col-md-2.lead
          11:00
        .col-xs-9.col-md-10
          .event-data
            %p Открытие СДК "Быково" (п. Быково, ул. Школьная, 8)

      .row.event-block
        .col-xs-3.col-md-2.lead
          %p 11:00
          %p 20:00
        .col-xs-9.col-md-10
          .event-data
            %p Парк культуры и отдыха им. В. Талалихина (ул. Рабочая, 5б)
            %p II региональный благотворительный инклюзивный фестиваль "Дети - детям"

      .row.event-block
        .col-xs-3.col-md-2.lead
          12:00
        .col-xs-9.col-md-10
          .event-data
            %p Сквер имена А.С. Пушкина "Литературный променад"

      .row.event-block
        .col-xs-3.col-md-2.lead
          %p 12:00,
          %p 14:00
        .col-xs-9.col-md-10
          .event-data
            %p Троллейбусные экскурсии "Знай и люби свой край!" по маршруту №12 (ст. Подольск - Юбилейная площадь - ст. Подольск)

      .row.event-block
        .col-xs-3.col-md-2.lead
          %p 12:00
        .col-xs-9.col-md-10
          .event-data
            %p Пешеходные экскурсии "По старым улицам пройдусь"
            %p Отправление от Подольского краеведческого музея

      .row.event-block
        .col-xs-3.col-md-2.lead
          %p 12:00
          %p 16:00
        .col-xs-9.col-md-10
          .event-data
            %p Подольский краеведческий музей (Советская площадь, 7)
            %p Интерактивная программа "От иголки до машины"

      .row.event-block
        .col-xs-3.col-md-2.lead
          %p 16:00
          %p 21:00
        .col-xs-9.col-md-10
          .event-data
            %p Празничные концертные программы
            %p
              %ul
                %li - Сквер Поколений
                %li - Микрорайон Кузнечики, Бульвар 65-летия Победы
                %li - Микрорайон Климовск, Октябрьская площадь
                %li - Микрорайон Климовск, ДК "Машиностроитель"
                %li - Микрорайон Львовский, ДК "Металлург"

      .row.event-block
        .col-xs-3.col-md-2.lead
          %p 17:00
        .col-xs-9.col-md-10
          .event-data
            %p КСК "Ледовый дворец "Витязь" (ул. Кирова, 63а)
            %p Праздничная концертная программы "Счастья тебе, земля моя!" (Вход по пригласительным билетам)

      .row.event-block-primary
        .col-xs-3.col-md-2.lead
          %p 21:00
        .col-xs-9.col-md-10
          .event-data
            %p.lead
              %strong Праздничные фейверки
            %ul
              %li - Сквер Поколений
              %li - мкр. Кузенчики
              %li - мкр. Климовск
              %li - мкр. Львовский
