- @pages.each do |page|
  - page.css('.event').each do |link|
    .row.well
      .col-9
        %h5= link.at_css('.title-header h2').text
        %p= link.at_css('.title-cat').text
        %p= link.at_css('.ic-features-container img').attr(:title)
        %p= raw link.at_css('.ic-date').text
