- @page.css('.articletitle_text a').each do |link|
  - source = link.attr('href')
  - p = Nokogiri::HTML(open(source.to_s))

  .row.well
    .col-2
      - if p.at_css('.article p span img')
        - attr = 'http://www.metallurg-dk.ru/' + p.at_css('.article p span img').attr(:src)
        = image_tag attr, class: 'img-fluid'

    .col-9
      %h5= p.at_css('.article h1').text
      %p.well
        = raw p.at_css('.article p').text
