- @page.css('#homelist .col').each do |link|
  .row.well
    .col-xs-9
      %h3= link.at_css('h3 a.header').text
      .well
        - url = link.at_css('h3 a.header').attr('href')
        - category = Nokogiri::HTML(open('http://podolsk.spravker.ru'  + url))
        %ul
          - category.css('#homelist .subcats a').each do |l|
            %li= l.text
