.news-providers {
  background: asset-url('providers-logo.png');
  display: block;
  width: 30px;
  height: 30px;
}

.news-kvarc {
  background-position: 0 0;
}

.news-riamo {
  background-position: 0 -60px;
}

.news-podolsk_admin {
  background-position: 0 -30px;
}