@import 'mixins';

.tr-orelreshka {
  h1 {
    color: #333;
    padding: 0;
    font-size: 24px;
  }
  .vote-block {
    padding: 40px 0
  }

  .or-helper {
    margin-left: 20px;
    @include border-radius(50%);
    width: 30px;
    height: 30px;
    line-height: 30px;
    background:#ddd;
    color: #fff;
    font-size: 20px;
    padding: 0;
  }
}

.or-counts {
  position: relative;
  top: -50px;

  &-item {
    display: inline-block;
    vertical-align: middle;
  }
  &-round {
    @include border-radius(50%);
    @include box-shadow(1px 2px 1px rgba(26,18,0,.3));

    width: 100px;
    height:100px;
    line-height:100px;
    background:#428bca;
    color:white;
    font-size: 20px;
    vertical-align:middle;
    &-one {background-color:#428bca;}
    &-two {background:#5cb85c;margin: 0 50px}
    &-three {background:#d9534f;}
  }
  &-text {
    padding-top: 10px;
    text-transform: uppercase;
  }
}

.current-city {font-weight: 600;}

@media (min-width: 920px) {
  .tr-orelreshka {
    h1 {
      font-size: 36px;
    }
  }


  .or-counts {
    top: -75px;

    &-round {
      width: 150px;
      height:150px;
      line-height:150px;
      font-size: 30px;
    }
    &-text {
      padding-top: 20px;
      text-transform: uppercase;
    }
  }
}
