%li
  .team-member
    .team-member-image
      = link_to mini_place do
        = image_tag mini_place.photos.first.slide(:thumb), class: 'img-fluid' if mini_place.photos.pluck(:id).any?
      .team-social
        %ul.social
          %li
            = mini_place.title
