- set_meta_tags title: t('seo.about_live.title'),
  description: t('seo.about_live.desc'),
  keywords: t('seo.about_live.words'),
  index: true,
  site: false

.col-12.col-md-8.offset-md-2
  .tr-section
    .section-title
      %h1 О проекте «Живой Подольск»
    %p Проект «Живой Подольск» создан для отображения всех изменений города, значимых для жителей и гостей. Эти изменения касаются главным образом архитектуры и инфраструктуры Подольск, но не ограничиваются такими глобальными проектами, как строительство и реконструкция дорог, парков, торговых и культурных объектов. Нам интересно все, что происходит в жилых микрорайонах: от установки лавочек во дворе до расширения пешеходной зоны вдоль дороги.
    %p Мы хотим запечатлеть все положительные и отрицательные изменения города в простой и понятной форме: фотографиях объектов до и после их строительства или реконструкции.
    %p Так, например, выглядела площадь Ленина в далеком 1978 году:
    %p
      = image_tag asset_url('diff_lenin.jpg', type: :image), class: 'img-fluid center-block'
      .text-right автор фото: неизвестен

    %p А вот так выглядит центральная площадь города сейчас:
    %p
      = image_tag asset_url('diff_lenin2.jpg', type: :image), class: 'img-fluid center-block'
      .text-right автор фото: Любовь Новикова
    %p Изменения Подольска будут фиксироваться с момента запуска нашего проекта, то есть с весны 2018 года, но мы не ограничиваем себя жесткими временными рамками. Это означает, что на нашем сайте можно найти улицы, дороги, парки, микрорайоны, изменившие свой внешний вид в последние несколько лет.
    %p Мы открыты для сотрудничества с фотографами и блогерами, краеведами и всеми, кому небезразлично, как Подольск меняет облик на наших глазах.
    %p Приглашаем наших читателей стать авторами постов. Для этого вам достаточно #{ link_to 'прислать фотографии', new_place_path } с описанием изменившихся объектов.
