%header.m-4
  .container-fluid
    %nav.navbar.navbar-expand-md.no-gutters
      .col-3.text-left
        = link_to root_url do
          = image_tag 'logo-small.png', height: 30
      %button.navbar-toggler{aria: { controls: "navbarNav7", expanded: "false", label: "Toggle navigation"}, data: { target: ".navbar-collapse-2", toggle: "collapse" }, type: "button" }
        %span.navbar-toggler-icon
      = render 'main/menu'
      .collapse.navbar-collapse.navbar-collapse-2
        = render 'users/userbar'
