<p>Приветствуем <%= @resource.login %>!</p>

<p>Кто-то, возможно Вы, сделал запрос на ссылку для смены Вашего пароля.</p>

<p>Если вы не делали запрос, то можете игнорировать данное письмо.</p>

<p>Ваш пароль не изменится, пока Вы не пройдёте по ссылке.</p>

<p><%= link_to 'Сменить мой пароль', edit_password_url(@resource, reset_password_token: @token) %></p>
